# Pandas
<li>Pandas is an open-source Python package that is built on top of NumPy used for working with data sets.</li> 
<li>The name "Pandas" has a reference to <b>"Python Data Analysis".</b></li>
<li>Pandas is considered to be one of the best data-wrangling packages.</li>
<li>Pandas offers user-friendly, easy-to-use data structures and analysis tools for analyzing, cleaning, exploring and manipulating data.</li>
<li>It also functions well with various other data science Python modules.</li>

# Difference Between NumPy & Pandas

![](images/pandas_vs_numpy.png)

## Why Use Pandas?

<li>Pandas is known for its exceptional ability to represent and organize data.</li>
<li>The Pandas library was created to be able to work with large datasets faster and more efficiently than any other library.</li>
<li>It excels at analyzing huge amounts of data.Pandas allows us to analyze big data and make conclusions based on statistical theories.</li>
<li>Pandas can clean messy data sets, and make them readable and relevant.</li>
<li>By combining the functionality of Matplotlib and NumPy, Pandas offers users a powerful tool for performing <b>data analytics and visualization.</b></li>
<li>Data can be imported to Pandas from a variety of file formats, such as Csv, SQL, Excel, and JSON, among others.</li>
<li>Pandas is a versatile and marketable skill set for data analysts and data scientists that can gain the attention of employers.</li>

## Installation Of Pandas
<li>Go to your terminal, open and activate your virtual environment and then use the following commands for installing pandas.</li>

<code>
    pip install pandas
</code>

## Importing Pandas
<li>We need to import pandas if we want to create a pandas dataframe and perform any analysis on them.</li>
<li>We can import pandas package using the following command:</li>
<code>
    import pandas as pd
</code>

In [2]:
import pandas as pd

## How To Create A Pandas DataFrame
<li>A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, arranged in a table like structure with rows and columns.</li>
<li>We can create a basic pandas dataframe by various methods.</li>
<li>Let's discuss some of the methods to create the given dataframes:</li>

![](images/dataframe.png)

### 1. From Python Dictionary

In [2]:
from_dict={"Name":['Mukesh','Perez','Moumnima'],'Age':[34,24,23],'Job':['Arsonist','Driver','Singer']}
df=pd.DataFrame(from_dict)
df

       Name  Age       Job
0    Mukesh   34  Arsonist
1     Perez   24    Driver
2  Moumnima   23    Singer

### 2. From a list of dictionaries

In [3]:
listofdict=[{"Name":"hari","Age":23,"roll_no":1},
            {"Name":"Ram","Age":21,"roll_no":2},
            {"Name":"Pete","Age":24,"roll_no":3},
            {"Name":"John","Age":33,"roll_no":4},
            {"Name":"Pari","Age":13,"roll_no":5},
            {"Name":"Ada","Age":28,"roll_no":6},
            {"Name":"Tom","Age":26,"roll_no":7},]
df=pd.DataFrame(listofdict)
df

   Name  Age  roll_no
0  hari   23        1
1   Ram   21        2
2  Pete   24        3
3  John   33        4
4  Pari   13        5
5   Ada   28        6
6   Tom   26        7

### 3. From a list of tuples

In [5]:
listoftuples=[("AJ",23),('Ram',21),('Hari',23),('Tim',42),('tom',33)]
df=pd.DataFrame(listoftuples)
df

      0   1
0    AJ  23
1   Ram  21
2  Hari  23
3   Tim  42
4   tom  33

### 4. From list of lists

In [4]:
listoflists=[["AJ",23],['Ram',21],['Hari',23],['Tim',42],['tom',33]]
df=pd.DataFrame(listoflists)
df

      0   1
0    AJ  23
1   Ram  21
2  Hari  23
3   Tim  42
4   tom  33

#### Question:
<li>Read 'weather_data.csv' file using csv reader.</li>
<li>Store the data inside the csv file into a list of lists.</li>
<li>Then create a pandas dataframe using list of list.</li>

In [6]:
import csv

In [13]:
with open('weather_data.csv') as csvfile:
    eachrow=csv.reader(csvfile)
    data=list(eachrow)
df=pd.DataFrame(data[3:],columns=data[2])
df

          day    temperature     windspeed     event
0    1/1/2017             32             6      Rain
1    1/4/2017  not available             9     Sunny
2    1/5/2017             -1  not measured      Snow
3    1/6/2017  not available             7  no event
4    1/7/2017             32  not measured      Rain
5    1/8/2017  not available  not measured     Sunny
6    1/9/2017  not available  not measured  no event
7   1/10/2017             34             8    Cloudy
8   1/11/2017             -4            -1      Snow
9   1/12/2017             26            12     Sunny
10  1/13/2017             12            12     Rainy
11  1/11/2017             -1            12      Snow
12  1/14/2017             40            -1     Sunny

#### Question
<li>1. Read 'imports-85.data' file using file reader.</li>
<li>2. Store the data present inside the file into a list of list.</li>
<li>3. Create a pandas dataframe using list of lists.</li>
<li>4. For column name, we can use the columns variable given below.</li>

In [15]:
columns = ['symboling', 'normalized_losses', 'make', 'fuel_type', 'aspiration', 'num_of_doors',
          'body_style', 'drive_wheels', 'engine_location', 'wheel_base', 'length', 'width', 
           'height', 'curb_weight', 'engine_type', 'num_of_cylinders', 'engine_size', 'fuel_system',
          'bore', 'stroke', 'compression', 'horsepower', 'peak_rpm', 'city_mpg', 'highway_mpg', 
           'price']

In [16]:
with open('imports-85.data') as reader:
    rows=csv.reader(reader)
    data=list(rows)
df=pd.DataFrame(data,columns=columns)
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.80,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.40,...,136,mpfi,3.19,3.40,8.00,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.10,...,141,mpfi,3.78,3.15,9.50,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.10,...,141,mpfi,3.78,3.15,8.70,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.10,...,173,mpfi,3.58,2.87,8.80,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.10,...,145,idi,3.01,3.40,23.00,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.10,...,141,mpfi,3.78,3.15,9.50,114,5400,19,25,22625

### 5. Pandas Dataframe From Csv files

<li>We can load a csv file and create a dataframe out of the data present inside a csv file using pandas.</li>
<li>We have <b>.read_csv()</b> method to read a csv file and create a pandas dataframe from the dataset.</li>

In [11]:
df=pd.read_csv('weather_data.csv',skiprows=2)
df

          day    temperature     windspeed     event
0    1/1/2017             32             6      Rain
1    1/4/2017  not available             9     Sunny
2    1/5/2017             -1  not measured      Snow
3    1/6/2017  not available             7  no event
4    1/7/2017             32  not measured      Rain
5    1/8/2017  not available  not measured     Sunny
6    1/9/2017  not available  not measured  no event
7   1/10/2017             34             8    Cloudy
8   1/11/2017             -4            -1      Snow
9   1/12/2017             26            12     Sunny
10  1/13/2017             12            12     Rainy
11  1/11/2017             -1            12      Snow
12  1/14/2017             40            -1     Sunny

### Reading a csv file using skiprows and header parameters

#### Reading a csv file without header and giving names to the columns

#### Read limited data from a csv file using nrows parameters

#### Reading csv files with na_values parameters ('weather_data.csv' file)

#### Write a pandas dataframe to a csv file
<li>We can write a pandas dataframe to a csv file using .to_csv() method.</li>
<li>You can specify any name to the csv file while writing a pandas dataframe into a csv file.</li>

In [ ]:
weather_df.to_csv('weather_data_')

### 6. Pandas Dataframe From Xcel files

<li>We can load an excel file with <b>.xlsx</b> extension and create a dataframe out of the data present inside an excel file using pandas.</li>
<li>We have <b>.read_excel()</b> method to read a csv file and create a pandas dataframe from the dataset.</li>
<li>We also need to install <b>openpyxl</b> for working with excel files.</li>

In [6]:
import openpyxl

In [9]:
df=pd.read_excel('weather_data.xlsx',)
df.drop('Unnamed: 0',axis='columns',inplace=True)

#### Writing to an excel file
<li>We can write a pandas dataframe into a excel file using .to_excel() method.</li>

#### Using head() and tail() method to see top 5 and last 5 rows
<li>To view the first few rows of our dataframe, we can use the DataFrame.head() method.</li>
<li>By default, it returns the first five rows of our dataframe.</li>
<li>However, it also accepts an optional integer parameter, which specifies the number of rows.</li>

<li>Similarly, to view the last few rows of our dataframe, we can use the DataFrame.tail() method.</li>
<li>By default, it returns the last five rows of our dataframe.</li>
<li>However, it also accepts an optional integer parameter, which specifies the number of rows.</li>

#### Question:

<li>Use the head() method to select the first 6 rows.</li>
<li>Use the tail() method to select the last 8 rows.</li>

In [12]:
df.head(6)
df.tail(8)

          day  temperature  windspeed   event
5    1/8/2017          NaN        NaN   Sunny
6    1/9/2017          NaN        NaN     NaN
7   1/10/2017         34.0        8.0  Cloudy
8   1/11/2017         -4.0        NaN    Snow
9   1/12/2017         26.0       12.0   Sunny
10  1/13/2017         12.0       12.0   Rainy
11  1/11/2017         -1.0       12.0    Snow
12  1/14/2017         40.0        NaN   Sunny

#### Finding the column names from the dataframe
<li>We have df.columns attributes to check the name of columns in the pandas dataframe.</li>
<li>Similarly, we have df.values attributes to check the data present in the pandas dataframe.</li>

In [16]:
df.values
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

#### Checking the type of your dataframe 
<li>Another feature that makes pandas better for working with data is that dataframes can contain more than one data type.</li>
<li>Axis values can have string labels, not just numeric ones.</li>
<li>Dataframes can contain columns with multiple data types: including integer, float, and string.</li>
<li>We can use the DataFrame.dtypes attribute (similar to NumPy) to return information about the types of each column.</li>
<li>When we import data, pandas attempts to guess the correct dtype for each column.</li>
<li>Generally, pandas does well with this, which means we don't need to worry about specifying dtypes every time we start to work with data.</li>

In [17]:
weather_df_nan=pd.read_csv('weather_data_nan.csv')
weather_df_nan.dtypes

day             object
temperature    float64
windspeed      float64
event           object
dtype: object

#### Datatypes Information
<li>We can get the shape of the dataset using <b>.shape()</b> method.</li>
<li><b>.shape()</b> method returns the tuple datatype containing the number of rows and number of columns in the dataset.</li>
<li>If we wanted an overview of all the dtypes used in our dataframe, we can use <b>.info()</b> method.</li>
<li>Note that <b>DataFrame.info()</b> prints the information, rather than returning it, so we can't assign it to a variable.</li>

In [20]:
weather_df_nan.shape

(13, 4)

In [21]:
weather_df_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          13 non-null     object
 1   temperature  9 non-null      float64
 2   windspeed    7 non-null      float64
 3   event        11 non-null     object
dtypes: float64(2), object(2)
memory usage: 548.0+ bytes

#### Checking the null values in the pandas dataframe

In [27]:
weather_df_nan['temperature'].isnull()

0     False
1      True
2     False
3      True
4     False
5      True
6      True
7     False
8     False
9     False
10    False
11    False
12    False
Name: temperature, dtype: bool

In [30]:
weather_df_nan['temperature'].isnull().sum()

4

#### set_index() and reset_index() method

In [32]:
weather_df_nan.set_index('day')

           temperature  windspeed   event
day
1/1/2017          32.0        6.0   Rain
1/4/2017           NaN        9.0   Sunny
1/5/2017          -1.0        NaN    Snow
1/6/2017           NaN        7.0     NaN
1/7/2017          32.0        NaN    Rain
1/8/2017           NaN        NaN   Sunny
1/9/2017           NaN        NaN     NaN
1/10/2017         34.0        8.0  Cloudy
1/11/2017         -4.0        NaN    Snow
1/12/2017         26.0       12.0   Sunny
1/13/2017         12.0       12.0   Rainy
1/11/2017         -1.0       12.0    Snow
1/14/2017         40.0        NaN   Sunny

#### Selecting a column from a pandas DataFrame

<li>Since our axis in pandas have labels, we can select data using those labels.</li> 
<li>Unlike in NumPy, we donot need to know the exact index location of a pandas dataframe.</li>
<li>To do this, we can use the DataFrame.loc[] attribute. The syntax for DataFrame.loc[] is:</li>
<code>
df.loc[row_label, column_label]
</code>

<li>We can use the following shortcut to select a single column:</li>
<code>
df["column_name"]
</code>

<li>This style of selecting columns is very common.</li>

#### Questions

<li>Read <b>'appointment_schedule.csv'</b> file using pandas.</li>
<li>Select the <b>'name'</b> column from the given dataset and store to <b>'appointment_names'</b> variable.</li>
<li>Use Python's <b>type()</b> function to assign the type of name column to <b>name_type</b>.</li>

#### Pandas Series
<li>Series is the pandas type for one-dimensional objects.</li>
<li>Anytime you see a 1D pandas object, it will be a series. Anytime you see a 2D pandas object, it will be a dataframe.</li>
<li>A dataframe is a collection of series objects, which is similar to how pandas stores the data behind the scenes.</li>

#### Adding a column in a pandas dataframe

### Selecting Multiple Columns From the DataFrame

![](images/selecting_columns.png)

<li>We can select multiple columns from the dataframe by using the following codes:</li>
<code>
    df.loc[:, ["col1", "col2"]]
</code>

<li>We can use syntax shortcuts for selecting multiple columns by using the following syntax:</li>
<code>
    df[["col1", "col2"]]
</code>

In [ ]:
car_details_df = pd.read_csv('car_details.csv')
car_details_df.head()

In [ ]:
car_details_df.loc[:, ['name', 'selling_price', 'km_driven']].head()

In [ ]:
car_details_df[['name', 'selling_price', 'km_driven']].head()

In [ ]:
car_details_limited = car_details_df.drop(['year', 'fuel', 'seller_type',
                                          'transmission', 'owner'],
                                          axis = 1)
car_details_limited.head()

#### Selecting Rows From A Pandas DataFrame

<li>Now that we've learned how to select columns by label, let's learn how to select rows using the labels of the index axis.</li>
<li>We can use the same syntax to select rows from a dataframe as we do for columns:</li>
<code>
    df.loc[row_label, column_label]
</code>

![](images/selecting_one_row.png)

### Selecting Multiple Rows From the DataFrame

![](images/selecting_multiple_rows.png)

#### Indexing & Slicing In Pandas DataFrame

<li>We can slice a dataset from their rows as well as columns.</li>
<li>If we have (5,5) shape data and we want first three rows and first three columns then we need to slice both rows and columns to get a desired shape.</li>
<li>We have df.iloc() method which we can use to do indexing as well as slicing in a dataframe.</li>
<li>Let's practice .iloc() method.</li>

#### Datatype Conversion In Pandas

<li>Pandas astype() is the one of the most important methods. It is used to change data type of a series.</li>
<li>When a pandas dataframe is created from a csv file,the data type is set automatically.</li>
<li>The datatype will not be what it actually should be at times and this is where we can use astype()  to get desired datatype.</li>
<li>For example, a salary column could be imported as string but to do operations we have to convert it into float.</li>
<li>astype() is used to do such data type conversions.</li>

#### Value Counts Method

<li>Since series and dataframes are two distinct objects, they have their own unique methods.</li>

<li>Let's look at an example of a series method - the Series.value_counts() method.</li>

<li>This method displays each unique non-null value in a column and their counts in order.</li>

<li>value_counts() is a series only method, we get the following error if we try to use it for dataframes:</li>

<code>
    AttributeError: 'DataFrame' object has no attribute 'value_counts'
</code>

#### Creating a frequency table from value_counts

#### Renaming the column names in a pandas dataframe

#### Selecting Items From A Series Method

<li>As with dataframes, we can use Series.loc[] to select items from a series using single labels, a list, or a slice object.</li>
<li>We can also omit loc[] and use bracket shortcuts for all three:</li>

![](images/selecting_series.png)

#### Question

<li>Use the value counts method to check the frequency count of different names from 'appointment_schedule.csv' file.</li>
<li>Select only first row from the series.</li>
<li>Select the first row and the last row from the series.</li>
<li>Select the first five rows and the last five rows from the series.</li>

#### DataFrame Vs DataSeries

![](images/dataframe_vs_series.png)

#### Summary

![](images/pandas_selection_summary.png)

#### Vecotrized Operations In Pandas

<li>We'll explore how pandas uses many of the concepts we learned in the NumPy.</li>
<li>Because pandas is designed to operate like NumPy, a lot of concepts and methods from Numpy are supported.</li>
<li>Recall that one of the ways NumPy makes working with data easier is with vectorized operations.</li>
<li>Just like with NumPy, we can use any of the standard Python numeric operators with series, including:</li>
<code>
    series_a + series_b - Addition
    series_a - series_b - Subtraction
    series_a * series_b - Multiplication
    series_a / series_b - Division
</code>

#### Some Statistical Functions In Pandas

<li>Like NumPy, Pandas supports many descriptive stats methods such as mean, median, mode, min, max and so on.</li>
<li>Here are a few of the most useful ones.</li>
<code>
Series.max()
Series.min()
Series.mean()
Series.median()
Series.mode()
Series.sum()
</code>
<li>We can calculate the average value of a particular column(series) using df.column_name.mean().</li>
<li>For calculating the minimum value in a particular column(series), we can use df.column_name.min().</li>
<li>Similarly, for calculating the maximum value in a particular column(series), we can use df.column_name.max().</li>

#### Finding the descriptive statistics of the dataframe using .describe() method

<li>Descriptive statistics include those that summarize the central tendency, dispersion and shape of a dataset's distribution, excluding NaN values.</li>
<li>describe() method in Pandas is used to compute descriptive statistics for all of your numeric columns.</li>
<li>Analyzes both numeric and object series, as well as DataFrame column sets of mixed data types.</li>
<li>The output will vary depending on what is provided.</li>
<li>If we want to see the descriptive statistics of an object datatype then we have to specify <b>df.describe(include = "O")</b></li>

#### Assigning Values With Pandas

<li>Just like in NumPy, the same techniques that we use to select data could be used for assignment.</li>

<li>When we selected a whole column by label and used assignment, we assigned the value to every item in that column.</li>

<li>By providing labels for both axes, we can assign them to a single value within our dataframe.</li>

<code>
    df.loc[row_label, col_label] = assignment_value
</code>

In [ ]:
import pandas as pd

#### Using Boolean Indexing With Pandas Objects (Selection With Condition In Pandas)
<li>We can assign a value by using row label and column label in pandas.</li>
<li>But what if we need to assign a same value to a group of similar rows with the same criteria.</li>
<li> Instead, we can use boolean indexing to change all rows that meet the same criteria, just like we did with NumPy.</li>


<ol>
    <li>Equals: df['series'] == value</li>
    <li>Not Equals: df['series'] != value</li>
    <li>Less than: df['series'] < value</li>
    <li>Less than or equal to: df['series'] <= value</li>
    <li>Greater than: df['series'] > value</li>
    <li>Greater than or equal to: df['series'] >= value</li>
</ol>
<li>These conditions can be used in several ways, most commonly inside .loc to select values with conditions.</li>

### Using Pandas Method To Create a Boolean Mask

<li>In the last couple lessons, we used Python boolean operators to create boolean masks to select subsets of data.</li>
    
<li>There are also a number of pandas methods that return boolean masks useful for exploring data.</li>

<li>Two examples are the Series.isnull() method and Series.notnull() method.</li>
<li>Series.isnull() method can be used to select either rows that contain null (or NaN) values for a certain column.</li>
<li>Similarly, Series.notnull() method is used to select rows that do not contain null values for a certain column.</li>

#### Question 1

<li>Read 'Fortune_1000.csv' file using pandas read_csv() method and store it in a variable named f1000.</li>
<li>Select the rank, revenues, and rank_change columns in f1000. Then, use the df.head() method to select first five rows.</li>
<li>Select just the fifth row of the f1000 dataframe. Assign the result to fifth_row using iloc.</li>
<li>Select the value in first row of the company column. Assign the result to company_value.</li>
<li>Select the last three rows of the f1000 dataframe. Assign the result to last_three_rows.</li>
<li>Select the first to seventh rows and the first five columns of the f1000 dataframe.</li>

#### Question 2
<li>Use the Series.isnull() method to select all rows from f1000 that have a null value for the prev_rank column.</li>
<li>Select only the company, rank, and previous_rank columns where previous_rank column is null.</li>
<li>Use the Series.notnull() method to select all rows from f1000 that have a non-null value for the previous_rank column.</li></b>
<li>From the previously_ranked dataframe, subtract the rank column from the previous_rank column.</li>
<li>Assign the values in the rank_change to a new column in the f1000 dataframe, "rank_change".</li>

#### Question 3
<li>Select all companies with revenues over 100 thousands and negative profits from the f1000 dataframe.</li>

##### Instructions

<li>Create a boolean array that selects the companies with revenues greater than 100 thousands.</li>
<li>Create a boolean array that selects the companies with profits less than 0.</li>

#### Question 4
<li>Select all rows for companies whose city value is either Brazil or Venezuela.</li>
<li>Select the first five companies in the Technology sector for which the city is not the "Boston" from the f1000 dataframe.</li>

#### Sorting Values
<li>We can use the DataFrame.sort_values() method to sort the rows on a particular column.</li>
<li>To do so, we pass the column name to the method:</li>
<code>
sorted_rows = df.sort_values("column_name")
</code>
<li>By default, the sort_values() method will sort the rows in ascending order — from smallest to largest.</li>
<li>To sort the rows in descending order instead, we can set the ascending parameter to False:</li>
<code>
    sorted_rows = df.sort_values("column_name", ascending=False)
</code>

#### Question
<li>Read 'Fortune_1000.csv' using pandas read_csv() method.</li>
<li>Find the company headquartered in Los Angeles with the largest number of employees.</li>
<li>Select only the rows that have a city name equal to Los Angeles.</li>
<li>Use DataFrame.sort_values() to sort those rows by the employees column in descending order.</li>
<li>Use DataFrame.iloc[] to select the first row from the sorted dataframe.</li>

### String Manipulation In Pandas DataFrame

<li>String manipulation is the process of changing, parsing, splitting, 'cleaning' or analyzing strings.</li>
<li>As we know that sometimes, data in the string is not suitable for manipulating the analysis or get a description of the data.</li>
<li>But Python is known for its ability to manipulate strings.</li>
<li>Pandas provides us the ways to manipulate to modify and process string data-frame using some builtin functions.</li>
<li>Some of the most useful pandas string processing functions are as follows:</li>
<ol>
    <li><b>lower()</b></li>
    <li><b>upper()</b></li>
    <li><b>islower()</b></li>
    <li><b>isupper()</b></li>
    <li><b>isnumeric()</b></li>
    <li><b>strip()</b></li>
    <li><b>split()</b></li>
    <li><b>len()</b></li>
    <li><b>get_dummies()</b></li>
    <li><b>startswith()</b></li>
    <li><b>endswith()</b></li>
    <li><b>replace()</b></li>
    <li><b>contains()</b></li>
</ol>

#### 1. lower(): 
<li>It converts all uppercase characters in strings in the dataframe to lower case and returns the lowercase strings in the result.</li>

#### 2. upper():
<li>It converts all lowercase characters in strings in the dataframe to upper case and returns the uppercase strings in result.</li>

#### 3. islower(): 
<li>It checks whether all characters in each string in the Data-Frame is in lower case or not, and returns a Boolean value.</li>

#### 4. isupper(): 
<li>It checks whether all characters in each string in the Data-Frame is in upper case or not, and returns a Boolean value.</li>

#### 5. isnumeric():
<li>It checks whether all characters in each string in the Data-Frame are numeric or not, and returns a Boolean value.</li>

#### 6. strip():
<li>If there are spaces at the beginning or end of a string, we should trim the strings to eliminate spaces using strip() method.</li>
<li>It remove the extra spaces contained by a string in a DataFrame.</li>

#### 7. split(‘ ‘):
<li>It splits each string with the given pattern.</li>
<li>Strings are split and the new elements after the performed split operation, are stored in a list.</li>

#### 8. len():
<li>With the help of len() we can compute the length of each string in DataFrame.</li>
<li>If there is empty data in a DataFrame, it returns NaN.</li>

#### 9. get_dummies(): 
<li>It returns the DataFrame with One-Hot Encoded values like we can see that it returns boolean value 1 if it exists in relative index or 0 if not exists.</li>

#### 10. startswith(pattern):
<li>It returns true if the element or string in the DataFrame Index starts with the pattern.</li>
<li>If you wanted to filter out rows that startswith 'ind' then you can specify df[df[col].str.startswith('ind')</li>

#### 11. endswith(pattern):
<li>It returns true if the element or string in the DataFrame Index ends with the pattern.</li>
<li>If you wanted to filter out rows that ends with 'es' then you can specify df[df[col].str.endswith('es')</li>

#### 12. replace(a,b):
<li>It replaces the value a with the value b.</li>
<li>If you wanted to remove white space characters then you can use replace() method as:</li>
<code>
df[col_name].str.replace(" ", "")
</code>

#### 13. contains():
<li>contains() method checks whether the string contains a particular substring or not.</li>
<li>The function is quite similar to replace() but instead of replacing the string itself it just returns the boolean value True or False.</li>
<li>If a substring is present in a string, then it returns boolean value True else False.</li>

#### Handling Missing Values
<li>We can use fillna() method in pandas to fill missing values using different ways.</li>
<li>We can use interpolation method to make a guess on missing values.</li>
<li>We can use dropna() method to drop rows with missing values.</li>
<li>We can also fill missing values with the mean value, median value or the mode value depending on the values of columns.</li>
<li>Filling missing values with mean and median is appropriate when the column has continuous values.</li>
<li>If the data is categorical then filling missing values with mode is a good idea.</li>

#### fillna(method = 'ffill')

#### fillna(method = 'bfill')

#### Interpolate(Linear Interpolation)
<li>method = time</li>

#### dropna()
<li>dropna() with how and threshold parameter</li>

#### Handle Missing Values using .replace() method

#### Replacing Values Using a Dictionary (using columns and without using columns)

#### Replacing values using a regex
<code>
df.replace(original_value, replaced_value, regex = True)
</code>

#### Mapping values of a particular column using replace method
<li>Replacing the list of values using another list of values</li>
<li>Replacing values of a particular column using a dictionary</li>

#### GroupBy Functions
<li>Pandas groupby is used for grouping the data according to the categories and apply a function to the categories.</li>
<li>It also helps to aggregate data efficiently.</li>
<li>Pandas dataframe.groupby() function is used to split the data into groups based on some criteria.</li>
<code>
    df.groupby(col_name, as_index, sort, dropna)
</code>
<li>It uses split, apply, combine principle to create a groupby dataframe.</li>
<li>The groupby function accepts multiple parameters. Some of them are as follows:</li>
<ol>
    <li>col_name(required): the name of column against which you want to group elements.</li>
    <li>as_index(optional): default = True, if you want to include groupby column as an index set it        to True else False.</li>
    <li>sort(optional): default = True, if you want to sort the group based on keys then keep it as       True else False.</li>
    <li>dropna(optional): default = True, if you keep it as false then it will also include Nan values     as a separate group.</li>
</ol>

### GroupBy Aggregation Functions
<li>Here are some of the aggregating functions available in Pandas and quick summary of what it does.</li>
<ol>
    <li>mean(): Compute mean of groups for numeric columns</li>
    <li>sum(): Compute sum of group values for numeric columns</li>
    <li>size(): Compute group sizes</li>
    <li>count(): Compute count of group</li>
    <li>std(): Standard deviation of groups for numeric columns</li>
    <li>var(): Compute variance of groups for numeric columns</li>
    <li>describe(): Generates descriptive statistics</li>
    <li>first(): Compute first of group values</li>
    <li>last(): Compute last of group values</li>
    <li>nth() : Take nth value, or a subset if n is a list</li>
    <li>min(): Compute min of group values</li>
    <li>max(): Compute max of group values</li>
</ol>

#### Question
<li>Read 'car_details.csv' file and create a pandas dataframe from this file.</li>
<li>Find the maximum price for each of the car brand.</li>
<li>Find the average price for each of the fuel types.</li>
<li>Find the average km_driven for each of the seller_types.</li>
<li>Find the count of each of the car names.</li>
<li>Find the maximum km_driven for each of the owner types.</li>

####  Concatenating DataFrames
<li>pandas.concat() function does all the heavy lifting of performing concatenation operations along with an axis</li>
<li>If we want to join two individual dataframes and create a combined dataframe out of it, we can use concatenation operation for doing so.</li>
<li>We can use concatenation operation along the rows(axis=0) as well as along the columns(axis = 1)</li>

**syntax**

<code>
    pd.concat([df1,df2], axis, keys, ignore_index)
</code>

<li>df1 and df2 (required) are two dataframes which we want to merge.</li>
<li>axis: axis to concatenate along, (possible values; 0(along the rows) and 1 (along the cols) default = 0 (along the rows).</li>
<li>keys: sequence to add an identifier to the result indexes; default = None</li>
<li>ignore_index: if True, do not use the index values along the concatenation axis; default = False</li>

#### Concatenating Dataframes along the rows
![](images/concat_rows.png)

#### Concatenating DataFrames along columns
![](images/concat_cols.png)

#### Merge
<li>Pandas has full-featured, high performance in-memory join operations idiomatically very similar to relational databases like SQL.</li>
<li>Pandas provides a single function, merge, as the entry point for all standard database join operations between DataFrame objects.</li>
<li>The <b>merge()</b> method updates the content of two DataFrame by merging them together, using the specified method(s).</li>
<li>We can use the parameters to control which values to keep and which to replace during merge operation.</li>
<li>We can specify any type of join we want by using how parameter in merge method.</li>
<li>There are four types of join operations. They are :</li>
<ol>
    <b><li>Inner join</li></b>
    <b><li>Left join</li></b>
    <b><li>Right join</li></b>
    <b><li>Outer join</li></b>
</ol>

#### 1. Inner Join
![](images/inner_join.png)

#### 2. Left Join

![](images/left_join.png)

#### 3. Right Join

![](images/right_join.png)

#### 4. Outer Join

![](images/outer_join.png)

#### Crosstab 

<li>Cross tabulation is used to quantitatively analyze the relationship between multiple variables.</li>
<li>Cross tabulations — also referred to as contingency tables or crosstabs.</li>
<li>They group variables together and enable researchers to understand the correlation between different variables.<li>
<li>When we are doing multivariate analysis then we often came across crosstab() methods in pandas.</li>

**Syntax**

<code>
    pd.crosstab(index, columns, values, margins, margin_names, normalize,aggfunc, dropna)
</code>
<ol>
    <li>index : array-like, Series, or list of arrays/Series, Values to group by in the rows.</li>
    <li>columns : array-like, Series, or list of arrays/Series, Values to group by in the columns.</li>
    <li>values : array-like, optional, array of values to aggregate according to the factors. Requires `aggfunc` be specified.     </li>
    <li>aggfunc : function, optional, If specified, requires `values` be specified as well.</li>
    <li>margins : bool, default False, Add row/column margins (subtotals).</li>
    <li>margins_name : str, default ‘All’, Name of the row/column that will contain the totals when margins is True.</li>
    <li>dropna : bool, default True, Do not include columns whose entries are all NaN.</li>
    <li>normalize: </li>
    <ol>
        <li>If passed ‘all’ or True, will normalize over all values.</li>
        <li>If passed ‘index’ will normalize over each row.</li>
        <li>If passed ‘columns’ will normalize over each column.</li>
        <li>If margins is True, will also normalize margin values.</li>
    </ol>
</ol>

#### Pivot
<li>pivot() method produces pivot table based on 3 columns of the DataFrame. Uses unique values from index / columns and fills with values.</li>

    
**syntax**
<code>
pd.pivot(index, columns, values)
</code>
    
<b>Parameters:</b>
<ol>
    <li>index[ndarray] : Labels to use to make new frame’s index</li>
    <li>columns[ndarray] : Labels to use to make new frame’s columns</li>
    <li>values[ndarray] : Values to use for populating new frame’s values</li>
</ol>

**Returns: Reshaped DataFrame**

**Exception: ValueError raised if there are any duplicates.**